
#image {
    background-image: url('https://images.pexels.com/photos/546819/pexels-photo-546819.jpeg');
    margin: auto;
    height: 500px;
}

#photo {
    align-self: center;
    border-radius: 50%;
    margin: auto;
}

section {
    margin-top: 50px;
}

.nav-link, .excerpt {
    color: white;
}

.excerpt {
    max-width: 600px;
    text-align: center;
    margin: auto;
}

